header .navbar {
    background-color: rgba(255,255,255,.9);
    backdrop-filter: saturate(200%) blur(6px);
}

.container .article-list .post {
    background-color: rgb(255 255 255/85%);
    backdrop-filter: saturate(400%) blur(30px);
    transition: 0.3s ease all;
}

.post:hover {
    -webkit-box-shadow: 0 22px 43px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 22px 43px rgba(0,0,0,0.15);
    box-shadow: 0 22px 43px rgb(0 0 0 / 15%);
    -webkit-transform: translateY(-3px) scale(1.01);
    -moz-transform: translateY(-3px) scale(1.01);
    -ms-transform: translateY(-3px) scale(1.01);
    -o-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
}

.sidebar section {
    background-color: rgb(255 255 255 / 85%);
    backdrop-filter: saturate(400%) blur(30px);
    transition: 0.3s ease all;
}

.sidebar section:hover {
    background-color: rgb(255 255 255 / 90%);
    backdrop-filter: saturate(500%) blur(30px);
}

.archive main, .article-page main, .page main {
    background-color: rgb(255 255 255 / 85%);
    backdrop-filter: saturate(400%) blur(30px);
}

.post-cover-img {
    max-height: 320px;
    object-fit: cover;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
    height: 260px;
    margin: 0;
    width: fit-content;
}

.post-cover {
    margin-top: 10px;
    border-radius: 4px;
    margin-bottom: 12px;
}

.post-cover-inner {
    box-sizing: border-box;
    min-width: 0;
    width: fit-content;
    align-self: flex-start;
    display: flex;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
}

.post-cover-inner-more {
    box-sizing: border-box;
    min-width: 0;
    display: grid;
    width: 100%;
    justify-items: stretch;
    margin: 0;
    border-radius: 24px;
    gap: 4px;
    grid-auto-rows: minmax(120px, 200px);
}
.post-cover-inner-more br{
    display: none;
}
.post-cover-inner-auto-rows-1 {
    grid-template-columns: 1fr;
}

.post-cover-inner-auto-rows-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(120px, 200px);
}

.post-cover-inner-auto-rows-3 {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(120px, 200px);
}

.post-cover-inner-auto-rows-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(120px, 160px);
}

.post-cover-inner-auto-rows-5, .post-cover-inner-auto-rows-6 {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(120px, 160px);
}

.post-cover-inner-auto-rows-7, .post-cover-inner-auto-rows-8, .post-cover-inner-auto-rows-9 {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(120px, 120px);
}
